.custom-checkbox {
  position: relative;
}

.custom-checkbox--error .custom-checkbox__label::before {
  border-color: #f6514b;
}

.custom-checkbox__label {
  padding: 0 0 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #1e222e;
  user-select: none;
  cursor: pointer;
}

.custom-checkbox__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: solid #cdcfde 1px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.custom-checkbox__label::after {
  content: url("../../images/mark.svg");
  display: none;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 4px;
  cursor: pointer;
}

.custom-checkbox__field:hover + .custom-checkbox__label::before {
  border-color: #3356d7;
}

.custom-checkbox__field:focus + .custom-checkbox__label::before {
  border-color: #a0b4ff;
}

.custom-checkbox__field:checked + .custom-checkbox__label::before {
  background-color: #476bf0;
}

.custom-checkbox__field:checked + .custom-checkbox__label::after {
  display: block;
}

.custom-checkbox .custom-link {
  display: inline-block;
  padding: 0 0 0 30px;
}

.custom-checkbox__error-message {
  margin: 8px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #f6514b;
  display: none;
}
