.register-form {
  margin: 0;
  padding: 26px 32px 30px 32px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 24px 0px #7f225505;
}

.register-form__heading {
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1e222e;
  text-align: center;
}

.register-form__input {
  margin: 0 0 8px 0;
}

.register-form__input:has(+ .register-form__footer) {
  margin: 0 0 10px 0;
}

.register-form__input:last-child {
  margin: 0;
}

.register-form__columns {
  margin: 0 0 13px 0;
}

.register-form__columns:has(+ .register-form__button) {
  margin: 0 0 25px 0;
}

.register-form__button {
  margin: 0 0 24px 0;
}

.register-form__reset-link {
  display: block;
  margin: 24px 0 0 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1e222e;
}

.register-form__reset-link:hover {
  color: #3356d7;
}

.register-form__captcha {
  width: 50%;
}
